@charset "UTF-8"

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: red;
    height: 80px;
    color: white;
    text-align: center;
}

.main {
    background-color: blue;
    height: 500px;
    color: white;
    text-align: center;
}

.footer {
    background-color: black;
    height: 80px;
    color: white;
    text-align: center;
}